form
  text-align center
  width 100%
  position fixed
  bottom 0px
  background-color white

h1
  margin 0
  text-align center
  width 100%
  position fixed
  top 0px
  background-color white

ul
  padding 40px
