$bgColor = lightgray
$colorPrime = #333322
$alpha = 0.8
$amount = 0.85
$fontSize = 16px
$width = 320px
$widthInner = 310px
$fbColor = #3b5998
$red = #B1103C

body
  padding 0
  margin 0
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", verdana, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif
  width: 100%
  background: $bgColor
  color: $colorPrime
  font-style: normal
  font-variant: normal
  font-weight: normal
  font-size: $fontSize
  overflow: hidden

#content
  width: 640px
  margin: 0 auto
  background: #EEEEEE
  padding: 15px 60px
  @media screen and (max-width: 640px)
    width: $width
    padding: 0

img 
  margin: 0

p 
  margin: 0

a 
  text-decoration: none
  cursor: auto
  color: $fbColor
  font-family: Helvetica, Arial
  font-weight: bold
  &:hover 
    text-decoration: none
    color: #8b9dc3
  
h1 
  display: inline-block
  vertical-align: middle
  text-align: center
  box-sizing: border-box
  font-size: 17px
  font-weight: normal
  color: black
  margin: 0
  padding: 0
  width: 100%
  height: 33px
  line-height: 33px

section 
  margin: 0
  padding: 0

.boxShadow 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5)

header
  width: 100%
  margin: 0 auto
  z-index: 1

.settings-item
  input[type="range"]
    width: $widthInner*0.7
  h4.distance
    margin: 0
    padding-top: 15px

.card
  width: $widthInner
  height: $widthInner + 5
  background-color: rgba(255,255,255,0.8)
  border: 1px solid black
  border-radius: 2px
  padding: 5px 0 0 0
  img
    height: 100px
    width: 100px
    margin: 0 5px 5px 6px
    border-radius: 3px
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5)
  .profile
    height: 100px
    span
      height: 50px
      line-height: 50px
    h5
      margin: 0
  li.disabled
    opacity: 0.5

.menu
  span
    text-align: center
    width: 100%

.menu
  width: 60px
  height: 60px
  padding: 10px 0

#menuRight
  float: right

#menuLeft
  float: left

#menuLeft
  form
    display: none

#header 
  margin: 10px 0 10px 0
  width: 200px

header.settings
  #header
    display: none

header.settings
  #menuLeft
    float: right
    width: 260px
    & span
      width: 60px
      float: right
    
    & form
      display: block
      float: right
      padding: 0 0 10px 15px
      & input
        width: 185px
        z-index: 10            


span.glyphicon-th 
  font-size: 2em

span.glyphicon-cog 
  font-size: 2.4em

span.glyphicon-search 
  font-size: 2em


$shrink = shrink
$enlarge = enlarge

@keyframes shrink {
  from {
    width: 310px
    height: 310px
  }
  to {
    width: 96.66667px
    height: 96.66667px
  }
}
@keyframes enlarge {
  from {
    width: 96.66667px
    height: 96.66667px
  }
  to {
    width: 310px
    height: 310px
  }
}

ul,
li 
  list-style: none
  padding: 0

ul#photos 
  width: $width
  position: relative
  z-index: 10

ul#photos
  li
    animation-name: $enlarge
    animation-duration: 1s
    animation-iteration-count: 1
    animation-timing-function: ease-out
    -webkit-animation-name: $enlarge
    -webkit-animation-duration: 1s
    -webkit-animation-iteration-count: 1
    -webkit-animation-timing-function: ease-out   
    display: inline-block
    float: left
    width: $widthInner
    height: $widthInner
    border-radius: 2px
    overflow: hidden
    background-color: gray
    margin-bottom: 10px
    margin-left: 0

ul#photos.thumbnails
  li
    animation-name: $shrink
    animation-duration: 1s
    animation-iteration-count: 1
    animation-timing-function: ease-out
    -webkit-animation-name: $shrink
    -webkit-animation-duration: 1s
    -webkit-animation-iteration-count: 1
    -webkit-animation-timing-function: ease-out
    width: ($width/3) - 10
    height: ($width/3) - 10
    margin: 0 5px 10px 5px
    margin-left: 5px


ul#photos
  img 
    display: block
    max-height: 100%    
    width: auto
    height: auto
    margin: auto auto
    vertical-align: middle   

.sidebyside
  button 
    margin: 0 35px
    border-radius: 60px
    height: 60px
    width: 60px
    padding: 0
    span, i
      display: inline-block
      line-height: 60px
      vertical-align: middle


.pure-button-secondary 
  background-color: rgb(223, 117, 20)
  color: #fff

.passBtn
  font-size: 16px
  span
    margin-top: -3px

.likeBtn
  background: white
  i
    margin-top: 2px
    color: $red

.clearfix:after 
  content: "."
  visibility: hidden
  display: block
  height: 0
  clear: both


.center-wrap 
  text-align: center


.center-wrap:after 
  content: ''
  box-sizing: content-box
  visibility: hidden
  display: inline-block
  height: 0
  vertical-align: middle


.center 
  display: inline-block
  vertical-align: middle


p.center,
a.center 
  text-align: center

.left
  float: left
  vertical-align: bottom

.right
  float: right
  vertical-align: bottom

.list 
  margin-bottom: 1px
  background-color: white
  font-size: 30px
  color: grey


.list2 
  margin-bottom: 1px
  background-color: white
  color: grey


.titlehead
  font-size: 18px
  color: white
  height: 36px
  background-color: $red
  h1
    line-height: 36px
    vertical-align: top

.addbutton 
  margin-right: 10px
  font-size: 15px
  color: $red

#nav
  background: $red
  //border: 1px solid darkgray
  width: 100%
  ul
    margin: 0 auto
    padding: 8px 0
    width: 640px
    @media screen and (max-width: 640px)
      width: 320px
    li
      width: 106px
      text-align: center
      a
        color: white
        font-weight: normal
        font-size: 13px
    

