doctype
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css")
    link(rel="stylesheet" href="/stylesheets/chatRoom.css")
  body
    h1.titlehead#title
  
    ul#conversation
    
    form.pure-form
      input#message(style='display: inline-block')
      button#submit(type='submit', class='pure-button pure-button-primary') 送信
  
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='/socket.io/socket.io.js')

    script.
      var socket = io();
      socket.emit('join room', '#{roomId}');
      socket.emit('memberList', '#{roomId}', function(err, memberList) {
        var chatRoomName = '';
        memberList.forEach(function(member) {
          chatRoomName += member.name + ' ';
        });
        $('#title').text(chatRoomName);
      });
  
      $('#submit').on('click', function(event) {
        socket.emit('message', $('#message').val());
        $('#message').val('');
      })
  
      socket.on('message', function(message) {
        var li = $('<li> <img src="/users/'
        + message.userId + '/picture" /><span>'
        + message.message + '</span></li>');
        $('#conversation').append(li);
        $('html,body').animate({scrollTop: 10000},'fast');
      });
